# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Environment variables
.env
.env.*
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.eslintcache
.cache/

# TypeScript
*.tsbuildinfo
node_modules